<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/stylesheets/foundation.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/tk.css">
        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/modernizr.js"></script>
    </head>
    <body>
        <div class="full-size fixed">
            <div class="large-12 columns medium-12 columns header">
                <a href="/" class="logo"><img src="/images/errandMachine.png"></a>
                <ul class="header-ctrls show-for-medium-up">
                    <li><a class="notifications notMenTrigger" data-show="notifications"><i class="fa fa-inbox"></i></a></li>
                    <li><a class="tasks" href="/newTask">New Task</a></li>
                    <li><a class="profile-img notMenTrigger" data-show="menu"><img src="{{ user.profile_url }}"></a></li>
                </ul>
                <ul class="header-ctrls show-for-small-only">
                    <li><a class="notifications notMenTrigger" data-show="notifications"><i class="fa fa-inbox"></i></a></li>
                    <li><a class="profile-img notMenTrigger" data-show="menu"><img src="{{ user.profile_url }}"></a></li>
                </ul>
                <div class="not-men" id="notMen">
                    <ul id="menu" class="menu">
                        <li>{{ user.name }}<i class="fa fa-times-circle notMenClose"></i></li>
                        <li><a href="/myAccount"><i class="fa fa-user"></i>My Account</a></li>
                        <li><a href="/newTask"><i class="fa fa-plus-square"></i>New Task</a></li>
                        <li><a href="/myTasks"><i class="fa fa-tasks"></i>My Tasks</a></li>
                        <li><a href="/support"><i class="fa fa-support"></i>Support</a></li>
                        <li><a href="mailto:feedback@errandMachine.com?subject=FEEDBACK"><i class="fa fa-bullhorn"></i>Feedback</a></li>
                        <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                    <ul id="notifications" class="notifications">
                        <li>Notifications<i class="fa fa-times-circle notMenClose"></i></li>
                    </ul>
                </div>
                <div class="notification-d" id="notification">
                    <p class="notification"></p>
                </div>
            </div>
        </div>
        <div class="large-12 columns medium-12 columns app-wrapper">
            <div class="row">
                <div id="tasks-wrapper" class="large-12 columns medium-12 columns my-tasks-wrapper" data-userid="{{ result.id }}" >
                    <div id="no-tasks" class="large-6 large-centered columns medium-6 medium-centered columns no-tasks">
                        <i class="fa fa-tasks"></i>
                        <p class="title">You have no ordered tasks</p>
                        <p class="incentive">Order one now</p>
                        <a href="/newTask" class="new-task">New task</a>
                    </div>
                    <div id="tDetailModal" class="reveal-modal large expand-view" data-reveal>
                        
                    </div>
                    <div class="large-12 columns medium-12 columns t-table-wrapper" id="t-table-wrapper">
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascript/foundation.min.js"></script>
        <script src="/javascript/moment.js"></script>
        <script src="/javascript/jquery.validate.min.js"></script>
        <script src="/javascript/handlebars.js"></script>
        <script src="/javascript/tkTemplates.js"></script>
        <script src="/javascript/mytasks.js"></script>
        <script src="/javascript/tk.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>