<h3>Your ordered tasks</h3>
<table class="tasks-table show-for-medium-up">
    <thead>
        <tr>
            <th width="300">Task</th>
            <th width="350">Description</th>
            <th width="200">Payment - <span class="currency">Kshs</span></th>
            <th width="200">Progress</th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody id="tasks-table">
        {{#each task}}
        <tr data-id="{{id}}">
            <td><span class="task-title" data-reveal-id="tDetailModal">{{task_title}}</span></td>
            <td>{{task_description}}</td>
            {{#unless hPaid}}
                <td class="payment"><a href="#" class="unpaid-button"><i class="fa fa-times-circle"></i>Unpaid - <span data-amount="{{task_amount}}" class="amount"></span></a></td>
                <td class="tprogress"><span class="pending-status"><i class="fa fa-square-o"></i>Pending</span></td>
                <td><a class="edit-button task-edit"><i class="fa fa-pencil-square-o"></i></a><a class="delete-button task-delete"><i class="fa fa-trash-o"></i></a></td>
            {{/unless}}
            {{#if hProgress}}
                <td class="payment"><span class="paid-button"><i class="fa fa-check-circle"></i>Paid - {{task_amount}}</span></td>
                <td class="tprogress"><span class="complete-status"><i class="fa fa-check-square-o"></i>Complete</span></td>
                <td><a class="delete-button task-delete"><i class="fa fa-trash-o"></i></a></td>
            {{/if}}
            {{#unless hProgress}}
                {{#unless hPending}}
                    <td class="payment"><span class="paid-button"><i class="fa fa-check-circle"></i>Paid - {{task_amount}}</span></td>
                    <td class="tprogress"><span class="inprogress-status"><i class="fa fa-cog fa-spin"></i>Ongoing</span></td>
                    <td><i class="fa fa-cog fa-spin inprogress"></i></td>
                {{/unless}}
            {{/unless}}
        </tr>
        {{/each}}
    </tbody>
</table>